################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/AviUtlExoToAup2Converter/bin/
/AviUtlExoToAup2Converter/obj
